cah-card {
	display: inline-block;
	background-color: $cah-darkest;
	border-radius: 6px;
	padding: .5em;
	box-shadow: 0 0 2px #000000;

	> div {
		width: $cah-card-width;
		height: $cah-card-height;
		padding: 1em;
		border-radius: 6px;
		border: 1px solid $cah-lightest;
	}
}

cah-card.white {
	background-color: $cah-lightest;

	> div {
		border: 1px solid $cah-darkest;
	}

	* {
		color: $cah-darkest;
	}
}
