cah-card {
	display: inline-block;
	background: url(/src/assets/img/cartas/negras/1.svg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 6px;
	padding: .5em;
	color: #ffffff;
	display: grid;
	place-content: center;
	width: 193px;
	height: 300px;
	> div {
		width: $cah-card-width;
		height: $cah-card-height;
		padding: 1em;
		border-radius: 6px;
	}
}

cah-card.white {
	background: url(/src/assets/img/cartas/basica/1.svg);
	* {
		color: $cah-darkest;
	}
}
