.draw-card-popup {
	span {
		border-radius: 2px;
		padding: 2px 4px 2px 4px;
		margin: 0 2px 0 2px;
		background-color: $cah-light;
		color: $cah-lightest;
	}
}
@for $i from 1 to 3 {
	.draw-card-popup {
		span.cah-card-count-#{$i} {
			filter: hue-rotate(#{$i * 100deg});
		}
	}
	.draw-card-popup {
		span:nth-child(#{$i}) {
			filter: hue-rotate(#{$i * 100deg});
		}
	}
}
.draw-card-body {
	height: 100%;
	position: relative;
	color: $cah-lightest;
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;

		display: flex;
		justify-content: space-between;

		div {
			user-select: none;
			cursor: pointer;
			padding: 2px;
			border-radius: 4px;
			min-width: 90px;
		}

		div:nth-child(1) {
			background-color: $cah-light;
			filter: hue-rotate(100deg);
		}

		div:nth-child(2) {
			background-color: $cah-red;
		}

		span {
			margin-left: 5px;
		}
	}
	> svg {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 32px;
		animation: anim .3s;
	}
}

@keyframes anim {
	0% {
		transform: scale(.5,.5);
	}
	50% {
		transform: scale(1,1);
	}
	75% {
		transform: scale(1.1,1.1);
	}
	100% {
		transform: scale(1,1);
	}
}
