.settings-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10002;
	background-color: rgba($color: #000000, $alpha: .5);
	display: grid;
	place-content: center;
	&.away {
		display: none;
	}
	& img {
		width: 45px;
		border-radius: 50%;
		grid-area: 1 / 1 / span 2;
	}
	& .setting-box {
		display: grid;
		color: #fff;
		grid-template-rows: 45px 1fr 45px;
		row-gap: 10px;
		position: relative;
		background: url(/src/assets/img/bloques/contenedor-menu.svg) no-repeat;
		background-size: cover;
		width: 400px;
		height: 532px;
		padding: 5.5em 1.8em;
		box-sizing: border-box;
		padding-bottom: 6.5em;
		background-position: center;
		& h3 {
			text-align: center;
			align-self: center;
			color: $text-yellow;
		}
		& .players-box {
			overflow: auto;
			margin: 0 1.5em;
			border-radius: .5em;
			box-shadow: inset 0px 0px 10px 1px #000000;
			> div {
				display: grid;
				grid-template-columns: 45px 1fr 45px;
				column-gap: 5px;
				align-items: center;
				justify-items: center;
				padding: 10px;
				> span {
					place-self: center start;
				}
				&:nth-child(even) {
					background: linear-gradient(45deg, black, rgba(0,0,0,.3))
				}
			}
		}
		> .close {
			position: absolute;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			right: 0;
			cursor: pointer;
			background: url(/src/assets/img/botones/close.svg) no-repeat, rgba($color: #000000, $alpha: .5);
			background-size: 45%;
			background-position: center;
		}
	}
	button {
		width: 50%;
		color: #ffffff;
		place-self: center;
		height: 38px;
	}
}

.setting-handler {
	position: fixed;
	bottom: -19px;
	left: calc(50% - 22.5px);
	z-index: 10001;
	box-sizing: border-box;
	display: grid;
	place-content: center;
	cursor: pointer;
	transition: trasnform .3s ease;
	&:hover {
		transform: scale(1.05,1.05);
	}
	> img {
		width: 75px;
		height: 75px;
	}
}
