.settings-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10002;
	background-color: rgba($color: #000000, $alpha: .5);
	display: grid;
	place-content: center;
	&.away {
		display: none;
	}
	& img {
		width: 45px;
		border-radius: 50%;
		grid-area: 1 / 1 / span 2;
	}
	& .setting-box {
		display: grid;
		color: #fff;
		grid-template-rows: 45px 1fr 45px;
		row-gap: 10px;
		position: relative;
		background: url(/src/assets/img/bloques/contenedor-menu.svg) no-repeat;
		background-size: cover;
		width: 400px;
		height: 532px;
		padding: 5.5em 1.8em;
		box-sizing: border-box;
		padding-bottom: 6.5em;
		background-position: center;
		& h3 {
			text-align: center;
			align-self: center;
			color: $text-yellow;
		}
		& .players-box {
			overflow: auto;
			margin: 0 1.5em;
			border-radius: .5em;
			box-shadow: inset 0px 0px 10px 1px #000000;
			> div {
				display: grid;
				grid-template-columns: 45px 1fr 45px;
				column-gap: 5px;
				align-items: center;
				justify-items: center;
				padding: 10px;
				> span {
					place-self: center start;
				}
				&:nth-child(even) {
					background: linear-gradient(45deg, black, rgba(0,0,0,.3))
				}
			}
		}
		> .close {
			position: absolute;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			right: 0;
			cursor: pointer;
			background: url(/src/assets/img/botones/close.svg) no-repeat, rgba($color: #000000, $alpha: .5);
			background-size: 45%;
			background-position: center;
		}
	}
	setting-actions > div {
		display: grid;
		place-content: center;
		grid-template-columns: 1fr 1fr;
		column-gap: .5rem;
		button {
			/*width: 50%; */
			color: #ffffff;
			/* place-self: center; */
			height: 33px;
			padding: 0.25rem 1rem;
			font-size: 0.7rem;
			width: 150px;
			place-self: center;
			&.init {
				grid-area: 1 / 1 / span 1 / span 2;
				place-self: center;
			}
		}
	}
}

.setting-handler {
	position: fixed;
	bottom: -19px;
	left: calc(50% - 22.5px);
	z-index: 10001;
	box-sizing: border-box;
	display: grid;
	place-content: center;
	cursor: pointer;
	transition: trasnform .3s ease;
	&:hover {
		transform: scale(1.05,1.05);
	}
	> img {
		width: 75px;
		height: 75px;
	}
}


.conf-wrapper {
	position: fixed;
	background: linear-gradient(
		90deg,
		rgba($color: #000000, $alpha: .1),
		rgba($color: #000000, $alpha: 1),
		rgba($color: #000000, $alpha: .1)
	);
	left: 0;
	right: 0;
	height: 100px;
	top: calc(50% - 50px);
	z-index: -1;
	display: grid;
	grid-template-columns: 1fr 367px 1fr;
	align-items: center;
	> .text-1 {
		justify-self: end;
	}
	> .text-2 {
		justify-self: start;
		&::after {
			transform: skewX(-30deg);
		 }
	}
	> * {
		z-index: 1;
		position: relative;
		color: $text-yellow;
		padding: 0.5rem 3rem;
		font-style: italic;
		&::after {
			content: '';
			background-color: #000000;
			border: 2px solid $text-yellow;
			transform: skewX(30deg);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
	}
}
