cah-hand {
	width: 100vw;
	/* height: 320px; */
	display: block;
	/* padding: 0 20px 0 20px; */
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	/* align-content: center;*/
	> div {
		position: relative;
		justify-self: center;
		align-self: start;
		width: 86%;
		height: 85%;
		overflow-x: auto;
		> cah-card, .shuffle-white {
			position: absolute;
			z-index: 0;
			left: 0;
			bottom: 0;
			transition: all 300ms;
			cursor: pointer;
		}

		@for $i from 2 to 12 {
			> *:nth-child(#{$i}) {
				z-index: #{$i};
				left: calc(#{$i - 1} * 140px);
			}
		}

		> cah-card:hover, > cah-card.selected {
			z-index: 12;
			transform: translateY(-15px) scale(1.05, 1.05);
			box-shadow: 0 0 5px #000000;
		}

		> cah-card.selected {
			z-index: 12;
			transform: translateY(-35px) scale(1.1, 1.1);
			&:nth-child(1) {
				transform: translate(20px,-35px) scale(1.1, 1.1);
			}
			&:nth-child(10) {
				transform: translate(-20px,-35px) scale(1.1, 1.1);
			}
			span {
				position: absolute;
				border-radius: 2px;
				padding: 5px 10px 5px 10px;
				background-color: $cah-light;
				color: $cah-lightest;
				top: -25px;
			}
		}

		> cah-card:not(.selected) {
			span {
				visibility: hidden;
				display: none;
			}
		}
	}

	> div.full-hand {
		> cah-card:not(.selected) {
			filter: brightness(85%);
		}
	}
}
