.main-lobby {
	height: 100%;
	display: grid;
	grid-template-rows: 50px 1fr;
	background: url(/src/assets/img/background/fondo-start.jpg);
	background-size: cover;
	animation: bg-glow 10s infinite;
	transition: all .1s linear;
	/* CREATION MENU */
	.creation-menu {
		position: relative;
		display: grid;
		place-self: center;
		height: fit-content;
		transition: all .3s ease-in-out;
		grid-template-rows: 2rem repeat(8, calc(1rem + .5vw));
		z-index: 2;
		width: 20vw;
		height: 27vw;
		box-sizing: border-box;
		place-content: center;
		grid-template-columns: 85%;
		&::after{
			content: '';
			background: url(/src/assets/img/bloques/contenedor-inicio.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
		> h3 {
			place-self: center;
			color: $text-yellow;
		}
		> label {
			color: #ffffff;
			align-self: end;
			font-size: .7rem;
		}
		> input {
			padding: 0 10px;
			color: #fff;
			background-color: rgba($color: #fff, $alpha: .3);
			border: none;
			border-radius: .3rem;
			&::placeholder {
				color: #ffffff;
			}
		}
		> *:not(h3) {
			margin: 0 15px;
		}
		> select {
			padding: 0 10px;
			border: none;
			background-color: rgba($color: #fff, $alpha: .3);
			border-radius: .3rem;
			color: #ffffff;
			& option {
				color: #666;
			}
		}
		& .host-actions {
			display: grid;
			grid-auto-flow: column;
			place-content: center;
			margin-top: 15px;
			column-gap: 15px;
			> button {
				font-size: 18px;
				height: 1.8rem;
				border: none;
				color: #ffffff;
				border-radius: 4px;
				outline: none;
				transition: all .3s ease-in-out;
				font-weight: bold;
				padding: .1rem 1rem;
				outline: none;
				cursor: pointer;
			}
		}
	}
	& .bg-effects {
		position: absolute;
		background-image: url(/src/assets/img/efectos/destello-naranja.svg), url(/src/assets/img/efectos/puntos-brillantes.svg);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 1;
		background-size: 55vw;
		transition: trasnform .3s linear;
		animation: glow 5s infinite;
	}
}

@keyframes glow {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.05);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes bg-glow {
	0% {
		background-size: 100%;
	}
	50% {
		background-size: 120%;
	}
	100% {
		background-size: 100%;
	}
}



.btn-primary {
	background: url(/src/assets/img/botones/boton-2do-primary.svg);
	background-size: cover;
	transition: transform .1s linear;
	border: none;
	cursor: pointer;
	&:hover {
		transform: scale(1.05);
	}
}

.btn-warn {
	background: url(/src/assets/img/botones/boton-primary.svg);
	background-size: cover;
	transition: transform .1s linear;
	border: none;
	cursor: pointer;
	&:hover {
		transform: scale(1.05);
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
	-webkit-text-fill-color: #ffffff !important;
	-webkit-box-shadow: 0 0 0 30px #666 inset !important;
}
