@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

@font-face {
	font-family: Lato;
	src: url('./fonts/Lato-Light.ttf') format('truetype');
}
/*-----------------VARS------------------*/
$cah-darkest: #0D1A1A;
$cah-dark: #192F2C;
$cah-mild: #243C51;
$cah-light: rgb(238, 136, 46);
$cah-red: #dd1c29;
$cah-lightest: #FBF6E5;
$cah-card-width: 130px;
$cah-card-height: 200px;
/*---*/
$menu-dark: #2d2d2d;
$text-yellow: #f3d774;
$list-dark: #231616;
/*----------------------------------------------*/
/*--------------------COMMONDS----------------------------------------*/
.btn.black {
	font-size: 18px;
	height: 45px;
	color: black;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid black;
	outline: none;
	transition: all .3s ease-in-out;
	font-weight: bold;
	padding: 0 10px;
	cursor: pointer;
	&:hover {
		background-color: black;
		color: #ffffff;
		border-color: #ffffff;
	}
}

.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.confimation-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($color: #000000, $alpha: .5);
	display: grid;
	place-content: center;
	z-index: 10002;
	> div {
		padding: 10px;
		background-color: #fff;
		border-radius: 4px;
		> h3 {
			height: 45px;
			color: #000000;
		}
		> .popup-actions {
			display: grid;
			row-gap: 10px;
		}
	}
}

.next-turn {
	position: fixed;
	top: 10px;
	right: 0;
	z-index: 10002;
	background-color: #fff;
	width: 200px;
	display: grid;
	grid-auto-flow: column;
	color: black;
	align-items: center;
	padding: 10px 0;
	padding-left: 10px;
	border-radius: 4px 0 0 4px;
	box-shadow: 0 0 4px 2px black;
	transition: all .5s ease-in-out;
	transform: translate(0%, 0%);
	&.away {
		transform: translate(103%,0);
	}
}

/*--------IMPORT SCSS COMPONENT-----------------------------------------*/
@import './table-top';
@import './cat-banner';
@import './draw-card-popup';
@import './hand';
@import './card';
@import './score-board';
@import './corner-menu';
@import './czar-indicator';
@import './cah-popup';
@import './lobby';
@import './waiting-room';
@import './snackbar';
@import './czar-view.scss';
@import './submits-popup.scss';
@import './summary.scss';
@import './game-settings.scss';
@import './landing.scss';

/*------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	font-family: Lato;
	/*color: $cah-lightest;*/
}

html, body {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 50px #000000;
	background-color: $cah-dark;
	overflow: hidden;
}

#container {
	width: 100%;
	height: 100%;
}
