@import './match-table';
@import './lobby-header.scss';
@import './host-game.scss';

.modal-wrapper {
	transition: all .3s ease-in-out;
	position: fixed;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-content: center;
	background-color: rgba($color: #000000, $alpha: .5);
	z-index: 10001;
	&.hidden {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
	> .modal-body {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-columns: 1fr 6rem;
		> h3 {
			color: $text-yellow;
		};
		/* circular */
		> .modal-spinner {
			position: relative;
			width: .3rem;
			height: .3rem;
			border-radius: 50%;
			background-color: rgba($color: $text-yellow, $alpha: .5);
			color: rgba($color: $text-yellow, $alpha: .5);
			box-shadow: 9999px 0 0 -5px rgba($color: $text-yellow, $alpha: .5);
			background-color: rgba($color: $text-yellow, $alpha: .5);
			place-self: end start;
			margin-left: .8rem;
			margin-bottom: 2px;
			/*transition: all .2s ease;*/
			animation: dots-loading 1s infinite linear alternate;
			animation-delay: .5s;
		}
		> .modal-spinner:after, .modal-spinner:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			width: .3rem;
			height: .3rem;
			border-radius: 50%;
			background-color: rgba($color: $text-yellow, $alpha: .5);;
			color: rgba($color: $text-yellow, $alpha: .5);;
		}
		> .modal-spinner:before {
			left: -.5rem;
			animation: dots-loading 1s infinite alternate;
			animation-delay: 0s;
		}
		> .modal-spinner:after {
			left: .5rem;
			animation: dots-loading 1s infinite alternate;
			animation-delay: 1s;
		}
	}

}

/* circular
.modal-spinner {
	display: inline-block;
	width: 150px;
	height:150px;
}
.modal-spinner:after {
	content: " ";
	display: block;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	margin: 1px;
	border-radius: 50%;
	border: 20px solid #666666;
	border-color: #666666 transparent #666666 transparent;
	animation: loading-animation 1.2s linear infinite;
}
*/
@keyframes dots-loading {
	0% {
		background-color:$text-yellow;
	}
	50%,
	100% {
		background-color: rgba($color: $text-yellow, $alpha: .5);
	}
}
@keyframes loading-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
