.user-header {
	/*grid-area: 1 / 1 / span 1 / span 2;*/
	display: grid;
	grid-auto-flow: column;
	padding: 10px;
	align-items: center;
	column-gap: 10px;
	position: relative;
	height: 50px;
	z-index: 2;
	margin: auto;
	width: 70vw;
	margin-top: 2em;
	& h3 {
		color: #ffffff;
	}
	& .avatar{
		width: 35px;
		height: 35px;
		outline: 2px solid;
		outline-offset: 2px;
		transform: rotate(45deg);
		overflow: hidden;
		display: grid;
		place-content: center;
		&::before {
			content: "";
			display: block;
			width: 45px;
			height: 45px;
			flex-shrink:0;
			background: center/cover;
			background-image: inherit;
			transform: rotate(-45deg);
		}
	}
	& .user-opts {
		transition: all 0.3s;
		position: absolute;
		right: 0;
		background-color: $cah-lightest;
		padding: 10px;
		width: 100px;
		bottom: -39px;
		box-shadow: 0px 9px 3px 4px rgba(0, 0, 0, 0.2);
		z-index: 2;
		border-radius: 0 0 0 3px;
		transform: translate(0, 0);
		&.hidden {
			transform: translate(100%, 0);;
		}
		> div {
			display: grid;
			grid-template-columns: 1fr 32px;
			place-items: center;
			> * {
				cursor: pointer;
				user-select: none;
			}
		}
		& span {
			color: #000000;
		}
	}
	> div {
		display: grid;
		column-gap: 10px;
		grid-auto-flow: column;
		&.auth {
			grid-template-columns: 45px 1fr;
			place-self: center end;
			h3 {
				padding: 5px 0;
			}
			button {
				border: none;
				outline: none;
				box-sizing: border-box;
				width: 35px;
				height: 35px;
				color: $cah-lightest;
				border-radius: 50%;
				margin: 0 5px;
				cursor: pointer;
				&:hover {
					box-shadow: 0 0.5em 0.5em -0.4em #4CAF50;
					transform: translateY(-0.25em);
				}
				&:nth-child(1) {
					background:linear-gradient(27deg, #4285f4, #34a853, #fbbc05, #ea4335);
				}
				&:nth-child(2) {
					background: linear-gradient(#0063e1, #21aefe);
				}
			}
		}
		&.search-area {
			> button {
				font-size: 16px;
				height: 35px;
				color: #ffffff;
				outline: none;
				font-weight: bold;
				border: none;
				background-size: 60%;
				background-position: center;
				background-repeat: no-repeat
			}
			> div {
				display: grid;
				grid-template-columns: 1fr 45px;
				border: 1px solid;
				border-radius: 2em;
				color: #fff;
				overflow: hidden;
				> input {
					outline: none;
					border: none;
					padding: 0 10px;
					background-color: transparent;
				}
				> div {
					place-self: center;
				}
				& svg {
					place-self: center;
					transition: all .3s;
					cursor: pointer;
					font-size: 18px;
					&:hover {
						transform: scale(1.1,1.1)
					}
				}
			}
		}
	}
}

.avatar{
	width: 35px;
	height: 35px;
	outline: 2px solid;
	outline-offset: 2px;
	transform: rotate(45deg);
	overflow: hidden;
	display: grid;
	place-content: center;
	&::before {
		content: "";
		display: block;
		width: 45px;
		height: 45px;
		flex-shrink:0;
		background: center/cover;
		background-image: inherit;
		transform: rotate(-45deg);
	}
}
