@import './match-table';
@import './lobby-header.scss';
@import './host-game.scss';

.modal-wrapper {
	transition: all .3s ease-in-out;
	position: fixed;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-content: center;
	background-color: rgba($color: #000000, $alpha: .5);
	z-index: 10001;
	&.hidden {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
	> .modal-body {
		width: 300px;
		height: 300px;
		border-radius: 3px;
		background-color: $cah-lightest;
		display: grid;
		justify-items: center;
		align-items: center;
		box-sizing: border-box;
		> h3 {
			color: black;
		};
		/* circular */
		> .modal-spinner {
			display: inline-block;
			width: 150px;
			height:150px;
		}
		> .modal-spinner:after {
			content: " ";
			display: block;
			box-sizing: border-box;
			width: 150px;
			height: 150px;
			margin: 1px;
			border-radius: 50%;
			border: 20px solid #666666;
			border-color: #666666 transparent #666666 transparent;
			animation: loading-animation 1.2s linear infinite;
		}
	}

}

/* circular */
.modal-spinner {
	display: inline-block;
	width: 150px;
	height:150px;
}
.modal-spinner:after {
	content: " ";
	display: block;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	margin: 1px;
	border-radius: 50%;
	border: 20px solid #666666;
	border-color: #666666 transparent #666666 transparent;
	animation: loading-animation 1.2s linear infinite;
}

@keyframes loading-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
