@media (max-width: 1500px) {
	cah-hand {
		@for $i from 2 to 12 {
			& > div > *:nth-child(#{$i}) {
				left: calc(#{$i - 1} * 100px) !important;
			}
		}
		cah-card {
			width: 110px;
			height: 175px;
			> div {
				width: unset !important;
				height: unset !important;
			}
		}
	}
	cah-card {
		&.black {
			width: 128px !important;
			height: 200px !important;
			> div {
				width: unset !important;
				height: unset !important;
				text-align: center;
			}
		}
	}
	.shuffle-white {
		width: 110px;
		height: 175px;
	}
}
