score-board {
	display: block;
	position: absolute;
	top: 3rem;
	right: 10%;
	> div {
		display: grid;
		grid-template-columns: 1fr 70px;
		background: url(/src/assets/img/botones/my-score.svg) no-repeat;
		background-size: 80%;
		background-position: 13px;
		width: 250px;
	}
	.avatar {
		place-self: center;
	}
	.board {

		* {
			font-family: "Walter Turncoat";
		}

		> div {
			text-align: center;
			color: white;
			font-weight: bold;
			letter-spacing: 3px;
			text-shadow: 0 1px 0 rgb(0 0 0 / 30%);
			display: grid;
			align-items: center;
			justify-items: self-end;
		}
	}
}
