.snackbar {
	position: fixed;
	right: 0;
	bottom: 10px;
	z-index: 10;
	background-color: #000;
	color: #ffF;
	height: 45px;
	width: 40vw;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	transition: all .3s;
	transform: translate(0,0);
	padding: 0 10px;
	&.hidden {
		transform: translate(105%, 0);
	}
	> button {
		background-color: #ffffff;
		border: 1px solid #000;
		border-radius: 4px;
		transition: all .3s;
		height: 35px;
		&:hover {
			border-color: #ffffff;
			background-color: #000000;
			color: #ffffff;
		}
	}
}
