.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	z-index: 1000;
	place-content: center;
	display: grid;
	> div {
		width: 100vw;
		height: 70vh;
		display: grid;
		grid-template-rows: 45px 1fr;
		> h3 {
			color: $text-yellow;
			text-align: center;
			padding: 10px 0;
		}
	}
	.all-submits {
		padding: 0 10px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 10px;
		overflow-y: auto;
		position: relative;
	}
}
.submits-wrapper {
	position: relative;
	width: 200px;
	height: fit-content;
	padding: 10px;
	border-radius: 4px;
	min-height: 200px;
	display: grid;
	margin: 2rem 0;
	> div {
		box-sizing: border-box;
		padding-bottom: 35px;
		position: relative;
		> img {
			width: 45px;
			border-radius: 50%;
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}
	& > .Loading-submit {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: grid;
		place-content: center;
	}
}

.winner-card {
	min-height: 300px;
	min-width: 250px;
}


.winner-box {
	grid-area: 1 / 2;
	display: grid;
	place-content: center;
	&::after {
		content: '';
		position: absolute;
		top: 0; bottom: 0;
		right: 0; left: 0;
		background: url(/src/assets/img/efectos/destello-verde.png);
		background-repeat: no-repeat;
		background-position: center;
		z-index: -1;
		background-size: 60%;
		animation: winner-glow-after 2.5s infinite;
	}
	&::before {
		content: '';
		position: absolute;
		top: 30%; bottom: 20%;
		right: 0; left: 0;
		background: url(/src/assets/img/efectos/puntos-brillantes.png);
		background-repeat: no-repeat;
		background-position: center;
		z-index: -1;
		background-size: 30%;
		animation: winner-glow-before 5s infinite;
	}
}
@keyframes winner-glow-after {
	0% {
		background-size: 60%;
	}
	50% {
		background-size: 65%;
	}
	100% {
		background-size: 60%;
	}
}

@keyframes winner-glow-before {
	0% {
		background-size: 30%;
	}
	50% {
		background-size: 35%;
	}
	100% {
		background-size: 30%;
	}
}
