.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	place-content: center;
	display: grid;
	> div {
		width: 80vw;
		height: 80vh;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 0px 4px 1px black;
		display: grid;
		grid-template-rows: 45px 70px 1fr;
		> h3 {
			background-color: black;
			color: #fff;
			text-align: center;
			padding: 10px 0;
		}
	}
	.all-submits {
		padding: 0 10px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		overflow-y: auto;
	}
}
.submits-wrapper {
	background-color: black;
	height: 250px;
	width: 200px;
	padding: 10px;
	border-radius: 4px;
}
