.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	place-content: center;
	display: grid;
	> div {
		width: 80vw;
		height: 80vh;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 0px 4px 1px black;
		display: grid;
		grid-template-rows: 45px 70px 1fr;
		> h3 {
			background-color: black;
			color: #fff;
			text-align: center;
			padding: 10px 0;
		}
	}
	.all-submits {
		padding: 0 10px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 10px;
		overflow-y: auto;
		position: relative;
	}
}
.submits-wrapper {
	position: relative;
	background-color: black;
	width: 200px;
	height: fit-content;
	padding: 10px;
	border-radius: 4px;
	min-height: 200px;
	display: grid;
	> div {
		padding: 5px;
		border: 1px solid #fff;
		border-radius: 4px;
		box-sizing: border-box;
		height: auto;
		padding-bottom: 35px;
		position: relative;
		> img {
			width: 45px;
			border-radius: 50%;
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}
	& > .Loading-submit {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: grid;
		place-content: center;
	}
}

.winner-card {
	min-height: 300px;
	min-width: 250px;
}


.winner-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	place-content: center;
}
