.winner-wrapper {
	display: grid;
	text-align: center;
	row-gap: 5px;
	justify-items: center;
	background-color: #ffffff;
	position: relative;
	> img {
		width: 100px;
		border-radius: 50%;
	}

}


.rouns-played {
	display: grid;
	overflow: auto;
	height: -webkit-fill-available;
	> div {
		display: grid;
		> span {
			color: #ffffff;
			background-color: black;
			text-align: center;
			padding: 10px 0;
			font-weight: bold;
		}
		.round-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 200px);
			column-gap: 5px;
			background-color: #fff;
			padding: 10px;
			> * {
				background-color: black;
				padding: 5px;
				border-radius: 4px;
				box-sizing: border-box;
				min-height: 280px;
			}
		}
	}
}

.summary-action {
	position: fixed;
	top: 10px;
	right: 10px;
}

.score-info {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: black;
	color: #ffffff;
	padding: 10px;
	border-radius: 4px;
	& img {
		width: 45px;
		border-radius: 50%;
	}
	> .score {
		display: grid;
		grid-template-columns: 1fr 30px;
		align-items: center;
	}
}
